.container{
font-style: oblique;
display: flex;
flex-direction: column;
height: 20vh;
justify-content: space-between;
}
.cards{
    display: flex;
    justify-content: space-between;
}
 .btn{
background-color: chocolate;
color: aliceblue;
}

